@{
    ViewBag.Title = "About";
}
<br />

<div class="container body-content">    
    @{
        List<String[]> dane = ViewBag.Message;

        foreach (String[] d in dane)
        {
            @Html.Raw("<div class='row'><div class='container'><h3>" + d[0]+"</h3>");
            @Html.Raw("<h5><span class='glyphicon glyphicon-time'></span> Opublikowany przez "+d[3]+" "+d[2]+"</h5>");
            @Html.Raw("<h5>"+d[4]+"</h5><br>");
            @Html.Raw("<div class='media'>");
            @Html.Raw("<div class='media-left media-top'>");
            @Html.Raw("<img class='media-object img-thumbnail' src='"+@Url.Content("~/Resources/Image/"+d[5])+"' width='240px' height='240px'>");
            @Html.Raw("</div>");//połowa tekstu?
            @Html.Raw("<div class='media-body'><div class='zwijaj'>" + d[1]+ "</div><br><br></div>");
            @Html.Raw("<a href='../Contents/News?news=" + d[6] + "' type='button' class='btn btn-default'>Czytaj</a>");
            @Html.Raw("</div></div></div><br>");
        }
    }    
</diV>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Script to wire up your TinyMCE editor -->
<script type="text/javascript">
        // Initialize your tinyMCE Editor with your preferred options
    $(document).ready(function () {
        $(".zwijaj").height(120);
    })
</script>