@model CrystalSiege.Models.ChangeEmailViewModel
@{
    ViewBag.Title = CrystalSiege.Resources.HomeTexts.ChangeEmail;
}
@using Microsoft.AspNet.Identity
<div class="container body-content">
    <br>
    <h2>@ViewBag.Title</h2>
    @Html.Partial("Module_Profil")    
    <hr>
    <div>
        @Html.ActionLink(CrystalSiege.Resources.HomeTexts.undo, "Index", "Manage", new { area = "" }, new { @class = "btn btn-default" })
        @using (Html.BeginForm("ChangeEmail", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>@CrystalSiege.Resources.HomeTexts.FormChangeEmailAddress</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.NewEmail, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control" })
                </div>
            </div>   
            <div class="form-group">
                <div class="col-md-2">
                </div>
                    <div class="col-md-10">
                        <p>@ViewBag.Message</p>
                    </div>
                </div>
            <hr>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zmień adres e-mail" class="btn btn-default" />
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>
