@model CrystalSiege.Models.ChangeAvatarViewModel
@{
    ViewBag.Title = CrystalSiege.Resources.HomeTexts.ChangeAvatar;
}
@using Microsoft.AspNet.Identity
<div class="container body-content">
    <br>
    <h2>@ViewBag.Title</h2>
    @Html.Partial("Module_Profil")    
    <hr>
    <div>
        @Html.ActionLink(CrystalSiege.Resources.HomeTexts.undo, "Index", "Manage", new { area = "" }, new { @class = "btn btn-default" })
        @using (Html.BeginForm("ChangeAvatar", "Manage", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
        {//wprowadzić tłumaczenia
            @Html.AntiForgeryToken()
            <h4>@CrystalSiege.Resources.HomeTexts.FormChangeAvatar</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })        
            <div class="form-group">
                @Html.LabelFor(m => m.img, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                  
                        <div class="form-group">
                            <!-- wybierz obrazek-->
                            <div class="col-sm-offset-2 col-sm-10">
                                <h5>Obrazek do slajdu</h5>
                                <!-- Trigger the modal with a button -->
                                <div class="row">
                                    <div class="col-sm-1">
                                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#FormImage">
                                            <i class="fa fa-image"></i>
                                        </button>
                                    </div>
                                    <div class="col-sm-1">
                                        <img id="changeimage" class='media-object img-rounded changeImage' src="">
                                    </div>
                                    <div class="form-group" style="visibility: hidden; height: 0px">
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.img, new
                                       {
                                           @class = "form-control",
                                           @placeholder = "idek slajdu",
                                           @id = "changeimage_apendix",
                                           @value = ""
                                       })
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="FormImage" role="dialog">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Obrazki</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h5>Wybierz obrazek</h5>
                                                <!--Obrazki-->
                                                <div class="container-fluid">

                                                    @{
                                                        List<String> dane = ViewBag.Message;
                                                        int i = 0;
                                                        int id = 0;
                                                        @Html.Raw("<div class='row'>");
                                                        foreach (String str in dane)
                                                        {
                                                            if (i == 4)
                                                            {
                                                                @Html.Raw("</div><div class='row'>");
                                                                i = 0;
                                                            }

                                                            @Html.Raw("<div class='col-sm-3'>");
                                                            @Html.Raw("<div class='thumbnail'>");//"../Contents/News?news="+idek;

                                                            //@Html.Raw("<button type='button' >");
                                                            @Html.Raw("<img class='media-object img-rounded changeImage' src='" + @Url.Content("~/Resources/Image/" + str) + "' width='100%' >");
                                                            //@Html.Raw("</button>");
                                                            //@Html.Raw("");
                                                            @Html.Raw("</div></div>");
                                                            //


                                                            i++;
                                                            id++;
                                                        }
                                                        if (i <= 4)
                                                        {
                                                            @Html.Raw("</div>");
                                                            i = 0;
                                                        }
                                                    }
                                                </div>
                                                <hr>
                                                <h5>Lub załaduj nowy</h5>
                                                <input type="file" name="file" id="file" accept="image/*" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--upload-->

                            </div>
                        </div>
                                                        
                    </div>
                </div>
            <hr>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zmień awatar" class="btn btn-default" />
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.changeImage').click(function () {
            $("#changeimage").attr({
                src: $(this).attr("src"),
                width: 45
            });
            var str = $(this).attr("src");
            str = str.split("/")[3];
            $("#changeimage_apendix").attr({
                value: str
            });
            $("#file").val(null);
            $('#FormImage').modal('toggle');
        });

        $('#file').change(function () {
            $("#changeimage").attr({
                src: "",
                width: 0
            });
            var str = $(this).attr("value");
           // str = str.split("/")[3];
            $("#changeimage_apendix").attr({
                value: null
            });
            $('#FormImage').modal('toggle');
        });

    })
</script>