@model CrystalSiege.Models.SectionViewModel
@{    
    ViewBag.Title = "Zarządzaj treścią ";
}
@using Microsoft.AspNet.Identity
<div class="container body-content">
    <br>
    <h2>@ViewBag.Title</h2>
    @Html.Partial("Module_Profil")    
    <hr>
    <div>
        @Html.ActionLink("Cofnij", "ViewSection", "Manage", new { area = "" }, new { @class = "btn btn-default" })
        <br />
        <h4 class="dl-horizontal mt-12"></h4>
        <dl class="dl-horizontal">
            
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span class="fa fa-desktop" style="font-size:24px"></span> Edytuj sekcje
                </div>
                <div class="panel-body container">
                    @using (Html.BeginForm("EditSection", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
                    {
                        <div class="form-group" style="visibility: hidden; height: 0px">
                            <label class="control-label col-md-3" for="id">idek</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Id, new
                           {
                               @class = "form-control",
                               @placeholder = "idek slajdu",
                               @Value = "" + ViewBag.Message[0]
                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="usr">Tytuł</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.title, new
                                {
                                    @class = "form-control",
                                    @placeholder = "Tytuł sekcji",
                                    @Value = "" + ViewBag.Message[1]
                                })
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                                    @Html.ActionLink("Anuluj", "ViewSection", "Manage", new { area = "" }, new { @class = "btn btn-default" })
                                    @{ 
                                        Html.RenderPartial("Module_Delete", new ViewDataDictionary(new { id = ViewBag.Message[0], option = "0", obj = "Section" }));
                                    }
                                </div>
                            </div>
                    }
                </div>

            </div>

        </dl>
    </div>
</div>
@Scripts.Render("~/Scripts/block.js")