@model CrystalSiege.Models.SlideViewModel
@{    
    ViewBag.Title = "Zarządzaj treścią ";
}
@using Microsoft.AspNet.Identity
<div class="container body-content">
    <br>
    <h2>@ViewBag.Title</h2>
    @Html.Partial("Module_Profil")    
    <hr>
    <div>
        @Html.ActionLink("Cofnij", "ViewSlide", "Manage", new { area = "" }, new { @class = "btn btn-default" })
        <br />
        <h4 class="dl-horizontal mt-12">Edytuj zawartość slajdu</h4>
        <dl class="dl-horizontal">
            
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-blackboard" style="font-size:24px"></span> Slajd
                </div>
                <div class="panel-body container">
                    @using (Html.BeginForm("EditSlide", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
                    {
                        <div class="form-group" style="visibility: hidden; height: 0px">
                            <label class="control-label col-md-2" for="id">idek</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Id, new
                           {
                               @class = "form-control",
                               @placeholder = "idek slajdu",
                               @Value = "" + ViewBag.Message[4]
                           })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="usr">Tytuł slajdu:</label>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Title, new
                           {
                               @class = "form-control",
                               @placeholder = "Tytuł slajdu",
                               @Value = "" + ViewBag.Message[0]
                           })
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" for="comment">Treść slajdu:</label>
                                <div class="col-md-10">
                                    @Html.TextArea("Description", (string)ViewBag.Message[1], new
                               {
                                   @class = "form-control",
                                   @rows = 5,
                                   @placeholder = "Treść slajdu"
                               })
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- moduł zmiany/dodawania obrazka -->
                                @{
                                    Html.RenderPartial("Module_ChangeImage", Model, new ViewDataDictionary { { "option", "edit" }, { "img", ViewBag.Message[3] } });
                                }
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                                    @Html.ActionLink("Anuluj", "ViewSlide", "Manage", new { area = "" }, new { @class = "btn btn-default" })
                                    @{ 
                                        Html.RenderPartial("Module_Delete", new ViewDataDictionary(new { id = ViewBag.Message[4], option = "0", obj = "Slide" }));
                                    }
                                </div>
                            </div>
                    }
                </div>

            </div>

        </dl>
    </div>
</div>
@Scripts.Render("~/Scripts/block.js")