<!---->
@model CrystalSiege.Models.BaseModel
<!-- wybierz obrazek-->
<div class="col-sm-offset-2 col-sm-10">
    <h5>@CrystalSiege.Resources.HomeTexts.ImageToSlide</h5>
    <!-- Trigger the modal with a button -->
    <div class="row">
        <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#FormImage">
                <i class="fa fa-image"></i>
            </button>
        </div>
        <div class="col-sm-1">
            @{ 
                var val_ = "";
                String str_img = "";
                if(ViewData["option"].Equals("add"))
                {
                    str_img = "<img id='changeimage' class='media-object img-rounded changeImage' src=''>";
                }
                if (ViewData["option"].Equals("edit"))
                {
                    str_img = "<img id='changeimage' class='media-object img-rounded changeImage' width='45px' src='" + @Url.Content("~/Resources/Image/" + ViewData["img"] ) + "'>";
                val_ = ViewData["img"].ToString();
            }
                @Html.Raw(str_img);
                @Html.Raw("</div><div class='form-group' style='visibility: hidden; height: 0px'><div class='col-md-10'>");                
                @Html.TextBoxFor(m => m.img, new
                {
                    @class = "form-control",
                    @placeholder = "idek slajdu",
                    @id = "changeimage_apendix",
                    @Value = val_.ToString()
                })            
            } 
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="FormImage" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@CrystalSiege.Resources.HomeTexts.Images</h4>
                </div>
                <div class="modal-body">
                    <h5>@CrystalSiege.Resources.HomeTexts.SelectImage</h5>
                    <!--Obrazki-->
                    <div class="container-fluid">

                        @{
                            List<String> dane = CrystalSiege.Controllers.ManageController.Get_ImagesList();
                            int i = 0;
                            int id = 0;
                            @Html.Raw("<div class='row'>");
                            foreach (String str in dane)
                            {
                                if (i == 4)
                                {
                                    @Html.Raw("</div><div class='row'>");
                                    i = 0;
                                }

                                @Html.Raw("<div class='col-sm-3'>");
                                @Html.Raw("<div class='thumbnail'>");//"../Contents/News?news="+idek;

                                //@Html.Raw("<button type='button' >");
                                @Html.Raw("<img class='media-object img-rounded changeImage' src='" + @Url.Content("~/Resources/Image/" + str) + "' width='100%' >");
                                //@Html.Raw("</button>");
                                //@Html.Raw("");
                                @Html.Raw("</div></div>");
                                //
                                i++;
                                id++;
                            }
                            if (i <= 4)
                            {
                                @Html.Raw("</div>");
                                i = 0;
                            }
                        }
                    </div>
                    <hr>
                    <h5>@CrystalSiege.Resources.HomeTexts.OrAttachNewImage</h5>
                    <input type="file" name="file" id="file" accept="image/*" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@CrystalSiege.Resources.HomeTexts.Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--upload-->

</div>

<!--  JavaScript  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('.changeImage').click(function () {
            $("#changeimage").attr({
                src: $(this).attr("src"),
                width: 45
            });
            var str = $(this).attr("src");
            str = str.split("/")[3];
            $("#changeimage_apendix").attr({
                value: str
            });
            $("#file").val(null);
            $('#FormImage').modal('toggle');
        });

        $('#file').change(function () {
            $("#changeimage").attr({
                src: "",
                width: 0
            });
            var str = $(this).attr("value");
           // str = str.split("/")[3];
            $("#changeimage_apendix").attr({
                value: null
            });
            $('#FormImage').modal('toggle');
        });

    })
</script>