@model CrystalSiege.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj treścią ";
}
@using Microsoft.AspNet.Identity
<div class="container body-content">
    <br>
    <h2>@ViewBag.Title</h2>
    @Html.Partial("Module_Profil")    
    <hr>
    <div>
        @Html.ActionLink("Cofnij", "Content", "Manage", new { area = "" }, new { @class = "btn btn-default" })
        <br />
        <h4 class="dl-horizontal mt-12">Slajdy</h4>
        <dl class="dl-horizontal mt-12">            
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-blackboard" style="font-size:24px"></span> Slajdy karuzeli
                </div>
                <div class="panel-body">

                    @{
                        List<String[]> dane = ViewBag.Message;
                        int i = 0;
                        @Html.Raw("<div class='row'>");
                        foreach (String[] str in dane)
                        {
                            if (i == 4)
                            {
                                @Html.Raw("</div><div class='row'>");
                                i = 0;
                            }
                            @Html.Raw("<div class='col-md-3'>");
                            @Html.Raw("<div class='thumbnail'>");//"../Contents/News?news="+idek;
                            @Html.Raw("<img class='media-object img-rounded' src='" + @Url.Content("~/Resources/Image/" + str[0]) + "' style='width:100%'>");

                            @Html.Raw("<div class='caption'>");
                            @Html.Raw("<p>" + str[1] + "</p>");
                            @Html.Raw("</div>");

                            @Html.Raw("<div class='btn-group btn-group-justified'>");
                            @Html.Raw("<div class='btn-group'>");
                            @Html.Raw("<a href='" + @Url.Content("~/Manage/EditSlide/" + str[2]) + "' class='btn btn-default btn-xs' >Edytuj</a>");
                            @Html.Raw("</div>");
                            // @Html.Raw("<a href='../Manage/DeleteSlide?id=" + str[2] + "' class='btn btn-danger btn-xs'>Usuń</a>");
                            @Html.Raw("<div class='btn-group'>");
                            Html.RenderPartial("Module_Delete", new ViewDataDictionary(new { id = str[2], option = "1", obj = "Slide" }));
                            @Html.Raw("</div>");
                            @Html.Raw("</div>");

                            @Html.Raw("</div></div>");
                            i++;
                        }
                        if (i <= 4)
                        {
                            @Html.Raw("</div>");
                            i = 0;
                        }
                    }
                <div class="row">
                    <div class="col-sm-12">
                        <div class='thumbnail'>
                            @Html.ActionLink("Dodaj slajd", "AddSlide", "Manage", new { area = "" }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            </div>
    </div>

    </dl>
</div>
</div>