@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right navbar-collapse collapse">        
       
        <li>
            @Html.Raw("<div class='pull-left'><img class='media-object img-circle' src='" + @Url.Content("~/Resources/Image/" + CrystalSiege.Controllers.ManageController.Get_Awatar(User.Identity.GetUserId())) + "' width='40px' height='40px'></div>")
        </li>        
        
        <li class="dropdown">
            <a class="dropdown-toggle font_military" data-toggle="dropdown" href="#">
                @CrystalSiege.Controllers.ManageController.Get_Username(User.Identity.GetUserId())
            </a>
            <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink(" Wyświetl profil", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li>
                    @Html.ActionLink(" Zarządzaj treścią", "Content", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })                    
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                </li>
            </ul>
        </li>


            <li>
                <a id="searchInput"><span class="glyphicon glyphicon-search"></span></a>
            </li>
            <li class="dropdown">
                <a id="searchInput" class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-flag"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>
                    <li>@Html.ActionLink("Polish", "Change", "Language", new { LanguageAbbrevation = "pl" }, null)</li>
                </ul>
            </li>
            <li>

            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right navbar-collapse collapse">
        <li>
            <a  id="searchInput"><span class="glyphicon glyphicon-search"></span></a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-flag"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)</li>
                <li>@Html.ActionLink("Polish", "Change", "Language", new { LanguageAbbrevation = "pl" }, null)</li>
            </ul>
        </li>
        <li>

        </li>
    </ul>
}
    

<script>

    function searchOn()
    {
        alert("Click");
    }

    //$('#searchInput').click(function () { alert("klik"); });


</script>



